@font-face {
    font-family: "Huiwen Mingchao";
    src: url("/fonts/HuiwenMingchao.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Huiwen Mingchao", serif;
}