@font-face {
    font-family: "Huiwen Mingchao";
    src: url("/fonts/HuWenMingChaoTi.woff2") format("woff2"),
         url("/fonts/HuWenMingChaoTi.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Huiwen Mingchao", serif !important;
}