@font-face {
    font-family: 'HuWenMingChaoTi';
    src: url('/fonts/HuWenMingChaoTi.woff2') format('woff2'),
         url('/fonts/HuWenMingChaoTi.woff') format('woff');
    font-display: swap;
}

body, html, *, p, div, span, h1, h2, h3, h4, h5, h6, li, a {
    font-family: "HuWenMingChaoTi", serif !important;
}