/* /assets/css/custom.css */

@font-face {
  font-family: 'HuWenMingChaoTi';
  /* 修改這裡的路徑 */
  src: url('../fonts/HuWenMingChaoTi.woff2') format('woff2'),
       url('../fonts/HuWenMingChaoTi.woff') format('woff'); /* 可選 */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 覆蓋主題的 --font-primary 變數 */
body {
  --font-primary: 'HuWenMingChaoTi', Verdana, sans-serif;
}